
<div class="row m-0">
    <div class="col pt-5" align ="center">
       <h2>Cafetria</h2>
    </div>
</div>


<div class="row m-0">
    <div class="col" align ="center">
        <mat-form-field appearance="legacy" style="width: 250px;">
            <mat-label>Email</mat-label>
            <input matInput placeholder="example@example.com">
          </mat-form-field>
    </div>
</div>
 
<div class="row m-0">
    <div class="col" align ="center">
        <mat-form-field appearance="legacy" style="width: 250px;">
            <mat-label>Password</mat-label>
            <input matInput >
          </mat-form-field>
    </div>
</div>

<div class="row m-0">
    <div class="col my-4" align ="center">
        <button mat-raised-button color="primary">Login</button>
    </div>
</div>

<div class="row m-0">
    <div class="col" align ="center">
       <a href="#">Forget Password?</a>
    </div>
</div>


 
 
  